header{
	padding: 3rem 5vw;
	text-align: right;
	position: relative;

	.frame__about{
		display: inline-block;
		margin: 1rem 0;
		font-weight: 700;
		text-decoration: none;
		color: $color-text;

		.frame__about-item{
			display: none;
		}

		.frame__about-item--current{
			display: inline-block;
		}
	}
}